<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main role="main">
    <section>
        <h1>Don't have an account?</h1>
        <a href="/signup"><button>Signup</button></a>
        <a href="/login"><button>Login</button></a>
    </section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>