<% include partials/head.ejs %>
<% include partials/header.ejs %>

</nav>
</header>
<div class="hero-image">
	<img src="./Mockup pictures/logo_hifiklubben.png">
</div>

<div class="pictures-text">
<img src="./Mockup pictures/butik.jpg">
<p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore
	et dolore magna.</p>
<img src="./Mockup pictures/butik2.jpg">
<p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore
	et dolore magna.</p>
<img src="./Mockup pictures/butik3.jpg">
<p>Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit, sed do eiusmod tempor <br>incididunt ut labore
	et dolore magna.</p>
</div>

<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>