<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kontakt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="script.js" defer></script>
</head>

<body>
    <header>
        <nav>
            <nav id="scroll">
                <ul>
                    <li><a href="/">Forside</a></li>
                    <li><a href="Kategorier">Produkter</a></li>
                    <li><a href="Kontakt">Kontaktside</a></li>
                </ul>
            </nav>
            <figure id="burger">
                <div></div>
                <div></div>
                <div></div>
            </figure>

            <img src="./Mockup pictures/logo.png">
        </nav>
    </header>

    <div class="container">
            <form action="/action_page.php">
              <label for="navn">Navn:</label>
              <input type="text" id="fname" name="firstname" placeholder="Din navn...">
          
              <label for="lname">Email:</label>
              <input type="text" id="lname" name="lastname" placeholder="Din email...">
          
              <label for="besked">Besked:</label>
              <textarea id="subject" name="subject" placeholder="Skriv en besked..." style="height:200px"></textarea>
          
              <input type="submit" value="Submit">
            </form>
          </div>
</body>