<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main role="main">
    <section>
        <form class="form-signin" action="index.html">
            <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            <input type="username" id="inputUsername" class="form-control" placeholder="Email" autofocus>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password">
            <button>Login</button>
    </section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>