<% include partials/head.ejs %>
<% include partials/header.ejs %>
<main role="main">
        <section>
                <h1>Signup</h1>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email">
                <input type="username" id="inputUsername" class="form-control" placeholder="Username" autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                <button>Signup</button>
        </section>
</main>
<% include partials/footer.ejs %>
<% include partials/after-footer.ejs %>